# Copia este archivo como .env, .env.development o .env.production y cambia los valores!
# Entorno de Desarrollo (localhost)
# VITE_API_URL=http://localhost:5000/api
# Entorno de Producción (cambia esta URL por la de tu backend desplegado!)
VITE_API_URL=https://proyecto-farmacia-five.vercel.app/