# Copia este archivo como .env, .env.development o .env.production y cambia los valores!
# 🔹 Entorno LOCAL (tu PC) - descomenta para trabajar en tu PC
# VITE_API_URL=http://localhost:5000/api
# 🔸 Entorno PRODUCCIÓN (Vercel) - descomenta para desplegar
VITE_API_URL=https://proyecto-farmacia-five.vercel.app/api